:root {
    --main-100: #FEFFFF;
    --main-200: #DEF2F1;
    --main-400: #3AAFA9;
    --main-600: #2B7A78;
    --main-900: #17252A;
    --white: #fff;
    --black: #000;
    --gray-100: #F8F9FA;
    --gray-200: #E9ECEF;
    --gray-300: #DEE2E6;
    --gray-400: #CED4DA;
    --gray-500: #ADB5BD;
    --gray-600: #6C757D;
    --gray-700: #495057;
    --gray-800: #343A40;
    --gray-900: #212529;
    --gray-tr-900: #21252960;

  }